.navbar-container {
    position: fixed;
    top: 0;
    background-color: #000;
    height: 200px;
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.navbar-link {
    display: inline-block;
}

.navbar-link-url {
    filter: saturate(0);
    -webkit-user-drag: none;
}

.navbar-link-url:hover {
    filter: saturate(1);
}

.selected-nav-link {
    filter: saturate(1);
    -webkit-user-drag: none;
}

img {
    -webkit-user-drag: none;
}

.navbar-container::-webkit-scrollbar {
    background: #000;
}

.navbar-container::-webkit-scrollbar-thumb {
    background: rgb(22, 163, 173);
}
  
.navbar-container::-webkit-scrollbar-track {
    background: rgba(44, 44, 44, 0.979);
}